<h1>{{collegeMascot}}</h1>

<p>College: {{college}}</p>
<p>Game Time: {{collegeGameTime}}</p>
<p>Strengths: {{collegeStrengths}}</p>
<p>Weaknesses: {{collegeWeaknesses}}</p>
<p>Picture:
     {{#if collegePicture}}
        <img src="{{collegePicture}}" height=200/>
    {{/if}}
</p>


<div class="controls">
<a href="/mascot/college/edit/{{_id}}">
<button>Edit Mascot</button>
</a>


{{#each getCollegeMascot}}
    <a href="/mascot/college/{{_id}}">
    </a>
{{/each}}


<form action="/mascot/college/{{_id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete Mascot" />
</form>

<a href="/">
      <button> Home </button>
    </a>

</div>  

