<h1>Edit Your Own Mascot</h1>

<form action="/mascot/fake/{{_id}}?_method=PUT" method="POST">
    <input type="text" name="fakeMascot" placeholder="mascot" value="{{fakeMascot}}" />
    <input type="text" name="fakeLocation" placeholder="location" value="{{fakeLocation}}" />
    <input type="number" name="fakeGameTime" placeholder="game time" value="{{fakeGameTime}}" />
    <input type="text" name="fakeStrengths" placeholder="strengths" value="{{fakeStrengths}}" />
    <input type="text" name="fakeWeaknesses" placeholder="weaknesses" value="{{fakeWeaknesses}}" />
    <input type="text" name="fakePicture" placeholder="picture" value="{{fakePicture}}" />

    <input type="submit" value="update" />

</form>