<h1>Edit College Mascot</h1>

<form action="/mascot/college/{{_id}}?_method=PUT" method="POST">
    <input type="text" name="collegeMascot" placeholder="mascot" value="{{collegeMascot}}" />
    <input type="text" name="college" placeholder="college" value="{{college}}" />
    <input type="number" name="collegeGameTime" placeholder="game time" value="{{collegeGameTime}}" />
    <input type="text" name="collegeStrengths" placeholder="strengths" value="{{collegeStrengths}}" />
    <input type="text" name="collegeWeaknesses" placeholder="weaknesses" value="{{collegeWeaknesses}}" />
    <input type="text" name="collegePicture" placeholder="collegePicture" value="{{collegePicture}}" />

    <input type="submit" value="update" />

</form>